{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}
    <title>Dashboard | MNEST Africa</title>
{% endblock %}
{% block headscripts %}
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/morris/morris.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/chartist/chartist.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/dashboard/analytics.css' %}">
{% endblock %}
{% block page %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Dashboard</h1>
        </div>

        <!-- Page Content -->
        <div class="page-content container-fluid">
            <div class="row" data-by-row="true">


                <div class="col-xl-5 col-12">
                    <form action="{% url 'dashboard' %}" method="post">
                        {% csrf_token %}
                        <label for="start">For: </label>
                        <input type="month" id="start" name="month"  value="{{ date_now }}" max="{{ datenow }}">
                        <button type="submit" class="btn btn-primary">Filter</button>
                    </form>
                </div>
            </div>
            <div class="row" data-plugin="matchHeight" data-by-row="true">


                <div class="col-xl-5 col-12">
                    <!-- Browser Flow Card -->
                    <div id="browsersFlowWidget" class="card card-shadow card-md">

                        <div class="card-header card-header-transparent pb-15">
                            <p class="font-size-24 blue-grey-700 mb-0">Unit Occupancy</p>
                        </div>
                        <div class="card-block px-30">
                            <div class="row">
                                <div class="col-md-6">
                                    <div id="productOptionsData" class="text-center">
                                        <div class="row no-space">
                                            <!-- The First Counter Block-->
                                            <div class="col-xl-12 col-md-12">
                                                <div class="counter">
                                                    <div class="counter-label">Vacant Units</div>
                                                    <div class="counter-number-group text-truncate">
                                                        <span class="counter-number-related red-600"></span>
                                                        <span class="counter-number red-600">{{ vacant }}/{{ total_units }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End The First Counter Block-->
                                            <!-- The Second Counter Block-->
                                            <div class="col-xl-12 col-md-12 mt-30">
                                                <div class="counter">
                                                    <div class="counter-label">Occupied Units</div>
                                                    <div class="counter-number-group text-truncate">
                                                        <span class="counter-number-related green-600"></span>
                                                        <span class="counter-number green-600">{{ occ }}/{{ total_units }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End The Second Counter Block-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 px-0">
                                    <!-- MorrisDonut -->
                                    <div id="occDonut"></div>
                                    <!-- End MorrisDonut -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Browser Flow Card -->
                </div>
                <div class="col-xl-7 col-12">
                    <!-- Browser Flow Card -->
                    <div id="browsersFlowWidget" class="card card-shadow card-md">
                        <div class="card-header card-header-transparent pb-15">
                            <p class="font-size-24 blue-grey-700 mb-0">Invoices Summary</p>
                        </div>
                        <div class="card-block px-30">
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="productOptionsData" class="text-center">
                                        <div class="row no-space">
                                            <!-- The First Counter Block-->
                                            <div class="col-xl-12 col-md-12">
                                                <div class="counter">
                                                    <div class="counter-label">Unpaid Rent Invoices</div>
                                                    <div class="counter-number-group text-truncate">
                                                        <span class="counter-number-related red-600"></span>
                                                        <span class="counter-number red-600">{{ pec2 }}/{{ all_inv }}</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End The First Counter Block-->
                                            <!-- The Second Counter Block-->
                                            <div class="col-xl-12 col-md-12 mt-20">
                                                <div class="counter">
                                                    <div class="counter-label">Paid Rent Invoices</div>
                                                    <div class="counter-number-group text-truncate">
                                                        <span class="counter-number-related green-600"></span>
                                                        <span class="counter-number green-600">{{ pec1 }}/{{ all_inv }}</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End The Second Counter Block-->
                                            <!-- The Second Counter Block-->

                                            <!-- End The Second Counter Block-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 px-0">
                                    <!-- MorrisDonut -->
                                    <div id="paid_donut"></div>
                                    <!-- End MorrisDonut -->
                                </div>
                                <div class="col-md-4 px-0">

                                    <div id="productOptionsData" class="text-center">
                                        <div class="row no-space">
                                            <!-- The First Counter Block-->
                                            <div class="col-xl-12 col-md-12 mt-25">
                                                <div class="counter">
                                                    <div class="counter-label">Units with Unpaid Invoices</div>
                                                    <div class="counter-number-group text-truncate">
                                                        <span class="counter-number-related green-600"></span>
                                                        <span class="counter-number teal-600">{{ unpunits }}/{{ occ }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Browser Flow Card -->
                </div>
                <div class="col-12 mt-20">
                    <!-- Product Overview Card -->
                    <div id="productOverviewWidget" class="card card-shadow card-md">
                        <!-- The Header Of First Card -->
                        <!-- End The Header Of First Card -->

                        <!-- The Content Of First Card -->
                        <div class="card-block p-20">

                            <div id="productOptionsData" class="text-center">
                                <div class="row no-space">
                                    <div class="card-block px-30 pt-0">
                                        <div class="table-responsive">
                                            <table class="table table-analytics mb-0 text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th class="language"></th>
                                                    <th class="vists"></th>
                                                    <th class="vists-percent"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <span class="country-name">Rent Payment requests</span>
                                                    </td>
                                                    <td>{{ req }}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="country-name">Other Invoices Payment Requests</span>
                                                    </td>
                                                    <td>{{ oreq }}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="country-name">Rent Amount Paid</span>
                                                    </td>
                                                    <td>{{ paid }}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <span class="country-name">Rent Amount Due</span>
                                                    </td>
                                                    <td>{{ due_to_pay }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End The Content Of First Card -->
                    </div>
                    <!-- End Product Overview Card -->
                </div>


            </div>
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Page -->
{% endblock %}
{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/chartist/chartist.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/morris/morris.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js' %}"></script>

    <script src="{% static 'authapp/assets/examples/js/dashboard/analytics.js' %}"></script>
    <script>

        // Example Morris Donut
        // --------------------
        (function () {

            Morris.Donut({
                resize: true,
                element: 'occDonut',
                data: [{
                    label: 'Occupied',
                    value: {{occ}}
                    //label: 'From last week'
                }, {
                    label: 'Vacant',
                    value:{{vacant}}
                    //label: 'From last month'
                }],
                colors: ['#11c26d', '#ff4c52', '#f3a754']
                //valueColors: ['#37474f', '#f96868', '#76838f']
            }).on('click', function (i, row) {
                console.log(i, row);
            });
        })();
        // Example Morris Donut
        // --------------------
        (function () {

            Morris.Donut({
                resize: true,
                element: 'paid_donut',
                data: [{
                    label: 'Paid',
                    value: {{pec1}}
                    //label: 'From last week'
                }, {
                    label: 'Unpaid',
                    value:{{pec2}}
                    //label: 'From last month'
                }],
                colors: ['#11c26d', '#ff4c52', '#f3a754']
                //valueColors: ['#37474f', '#f96868', '#76838f']
            }).on('click', function (i, row) {
                console.log(i, row);
            });
        })();
    </script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

{% endblock %}