{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}
    <title>Profile | MNEST Africa</title>
{% endblock %}

{% block headscripts %}
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/pages/profile.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/bootstrap-sweetalert/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/plyr/plyr.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/structure/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/blueimp-file-upload/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/dropify/dropify.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/blueimp-file-upload/jquery.fileupload.css' %}">
    <style>
        #sig-canvas {
            border: 2px dotted #CCCCCC;
            border-radius: 15px;
            cursor: crosshair;
        }
    </style>

{% endblock %}

{% block page %}

    <!-- Page -->
    <div class="page">
        <div class="page-content container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Page Widget -->
                    <div class="card card-shadow text-center">
                        <div class="card-block">
                            <a class="avatar avatar-lg" href="javascript:void(0)">
                                <img src="{% static 'authapp/assets/images/logo-blue.png' %}" alt="..">
                            </a>
                            <h4 class="profile-user">{{ profile.first_name }} {{ profile.last_name }}</h4>
                            <p class="profile-job">{{ profile.user.acc_type.acc_type }}</p>
                            <h4 class="profile-user">Hapokash ID: {{ profile.hapokash }}</h4>
                            <p></p>


                        </div>
                        <div class="card-footer">
                            <div class="row no-space">
                                <div class="col-12">
                                    <strong class="profile-stat-count"></strong>
                                    <span>PROFILE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Page Widget -->
                </div>

                <div class="col-lg-9">
                    <!-- Panel -->
                    <div class="panel">
                        <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
                            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="active nav-link" data-toggle="tab" href="#activities"
                                       aria-controls="activities" role="tab">Information
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" data-toggle="tab" href="#messages" aria-controls="messages"
                                       role="tab">Company Profile
                                    </a>
                                </li>
                                {% if user.acc_type.id == 2 or user.acc_type.id == 3 %}
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-toggle="tab" href="#sub" aria-controls="sub"
                                           role="tab">Subscription
                                        </a>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <a class="nav-link" data-toggle="tab" href="#sign" aria-controls="sign"
                                           role="tab">Signature
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="nav-item dropdown">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#"
                                       aria-expanded="false">Menu </a>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="active dropdown-item" data-toggle="tab" href="#activities"
                                           aria-controls="activities"
                                           role="tab">Information</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#messages"
                                           aria-controls="messages"
                                           role="tab">Company Profile</a>
                                        {% if user.acc_type.id == 2 or user.acc_type.id == 3 %}
                                            <a class="dropdown-item" data-toggle="tab" href="#sub"
                                               aria-controls="sub"
                                               role="tab">Subscription</a>
                                            <a class="dropdown-item" data-toggle="tab" href="#sign"
                                               aria-controls="sign"
                                               role="tab">Signature</a>
                                        {% endif %}
                                    </div>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
                                    <form id="profile" action="{% url 'profile' %}" method="post">
                                        {% csrf_token %}
                                        <div class="col-xl-6 ">
                                            <div class="form-group row">
                                                <label class="col-xl-12 col-md-3 form-control-label">First Name
                                                    <span class="required">*</span>
                                                </label>
                                                <div class=" col-xl-12 col-md-9">
                                                    <input type="text" class="form-control" name="f_name" required
                                                           value="{{ profile.first_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-12 col-md-3 form-control-label">Last & Middle Name
                                                    <span class="required">*</span>
                                                </label>
                                                <div class=" col-xl-12 col-md-9">
                                                    <input type="text" class="form-control" name="l_name" required
                                                           value="{{ profile.last_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-12 col-md-3 form-control-label">Email
                                                    <span class="required">*</span>
                                                </label>
                                                <div class=" col-xl-12 col-md-9">
                                                    <input type="email" class="form-control" name="msisdn"
                                                           required value="{{ profile.user.email }}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-12 col-md-3 form-control-label">ID Number
                                                    <span class="required">*</span>
                                                </label>
                                                <div class=" col-xl-12 col-md-9">
                                                    <input type="text" class="form-control" name="id_no" required
                                                           value="{{ profile.id_number }}" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-xl-12 col-md-3 form-control-label">Password
                                                    <span class="required">*</span>
                                                </label>
                                                <div class=" col-xl-12 col-md-9">
                                                    <input type="password" class="form-control" required
                                                           name="password">
                                                </div>
                                            </div>

                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>

                                <div class="tab-pane animation-slide-left" id="messages" role="tabpanel">

                                    <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
                                        <form id="profile" action="{% url 'profile' %}" method="post">
                                            {% csrf_token %}
                                            {% if user.acc_type.id == 2 %}
                                                <div class="col-xl-6 ">
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">Mobile
                                                            Number
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="tel" class="form-control" name="mobile"
                                                                   required value="{{ profile.msisdn }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">ID Number
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="number" class="form-control" name="no_emp"
                                                                   required
                                                                   value="{{ profile.id_number }}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">Password
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="password" class="form-control" required
                                                                   name="password">
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elif user.acc_type.id == 3 %}
                                                <div class="col-xl-6 ">
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">Company
                                                            Name
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="text" class="form-control" name="f_name"
                                                                   required
                                                                   value="{{ comp.company.name }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">Logo
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="text" class="form-control" name="l_name"
                                                                   required
                                                                   value="{{ comp.company.name }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">Office
                                                            Location
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="tel" class="form-control" name="comp_location"
                                                                   required value="{{ comp.company.location }}">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">Number of
                                                            Employees
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="number" class="form-control" name="no_emp"
                                                                   required
                                                                   value="{{ comp.company.no_of_emp }}" readonly>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xl-12 col-md-3 form-control-label">Password
                                                            <span class="required">*</span>
                                                        </label>
                                                        <div class=" col-xl-12 col-md-9">
                                                            <input type="password" class="form-control" required
                                                                   name="password">
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="tab-pane animation-slide-left" id="sign" role="tabpanel">
                                    {#                                    <form id="sign_upload" action="{% url 'sign_upload' %}" method="post">#}
                                    {% csrf_token %}

                                    <div class="row row-lg">
                                        <div class="col-xl-6 form-horizontal">

                                            <label class="form-control-label" for="pic">Draw Signature</label>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <canvas id="sig-canvas" height="160">
                                                        Get a better browser.
                                                    </canvas>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary" id="sig-submitBtn">Submit
                                                        Signature
                                                    </button>
                                                    <button class="btn btn-default" id="sig-clearBtn">Clear Signature
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6 form-horizontal">
                                            <label class="form-control-label" for="pic">Current Signature</label>
                                            {% if sign.pics.url %}
                                                <img id="sig-image" src="{{ sign.pics.url }}" alt="Current signature."/>
                                            {% else %}
                                                <img id="sig-image" src="" alt="Current signature."/>
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>

                                {#                                    </form>#}


                                <div class="tab-pane animation-slide-left" id="sub" role="tabpanel">

                                    <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
                                        <p class="profile-job">Current subscription: <b>{{ subs.subs.description }}</b>
                                        </p>
                                        <p class="profile-job">Start Date: <b>{{ subs.date_started }}</b></p>
                                        <p class="profile-job">End Date: <b>{{ subs.date_end }}</b></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Page -->
{% endblock %}

{% block footscripts %}
    <script src="{% static 'authapp/global/js/Plugin/responsive-tabs.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/tabs.js' %}"></script>

    <script src="{% static 'authapp/global/vendor/formvalidation/formValidation.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/formvalidation/framework/bootstrap4.min.js' %}"></script>

    <script src="{% static 'authapp/assets/examples/js/forms/validation.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/bootstrap-sweetalert/sweetalert.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/bootstrap-sweetalert.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/jquery-appear/jquery.appear.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/plyr/plyr.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/dropify/dropify.min.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/dropify.js' %}"></script>



    <script src="{% static 'authapp/global/js/Plugin/plyr.js' %}"></script>
    {#    <script src="{% static 'authapp/assets/examples/js/structure/timeline.js' %}"></script>#}

    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

    <script>
        var loginForm = $("#profile");
        loginForm.submit(function (e) {
            e.preventDefault();
            var thisForm = $(this);
            var endPoint = thisForm.attr("action") || window.location.href;
            var method = thisForm.attr("method");

            var formData = thisForm.serialize()
            console.log(formData)

            console.log(endPoint);
            console.log(method);
            swal({
                title: "Please wait !",
                showConfirmButton: false,
                allowOutsideClick: false
            });

            $.ajax({
                type: method,
                url: endPoint,
                data: formData,
                success: function (data) {
                    console.log(data)
                    if (data === 'wrong password') {
                        swal({
                            title: 'Error!!',
                            text: data,
                            type: 'error'
                        });
                    } else {
                        swal({
                            title: 'Saved',
                            type: "success",
                            showConfirmButton: true,
                        });
                        location.reload();
                    }
                },
                error: function (er) {
                    console.log("Error");
                    swal('Wrong credentials!!', 'Password incorrect!!', 'error');
                }
            });

        });
        (function () {
            window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame ||
                    window.webkitRequestAnimationFrame ||
                    window.oRequestAnimationFrame ||
                    window.msRequestAnimaitonFrame ||
                    function (callback) {
                        window.setTimeout(callback, 1000 / 60);
                    };
            })();

            var canvas = document.getElementById("sig-canvas");
            var ctx = canvas.getContext("2d");
            ctx.strokeStyle = "#222222";
            ctx.lineWidth = 4;

            var drawing = false;
            var mousePos = {
                x: 0,
                y: 0
            };
            var lastPos = mousePos;

            canvas.addEventListener("mousedown", function (e) {
                drawing = true;
                lastPos = getMousePos(canvas, e);
            }, false);

            canvas.addEventListener("mouseup", function (e) {
                drawing = false;
            }, false);

            canvas.addEventListener("mousemove", function (e) {
                mousePos = getMousePos(canvas, e);
            }, false);

            // Add touch event support for mobile
            canvas.addEventListener("touchstart", function (e) {

            }, false);

            canvas.addEventListener("touchmove", function (e) {
                var touch = e.touches[0];
                var me = new MouseEvent("mousemove", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchstart", function (e) {
                mousePos = getTouchPos(canvas, e);
                var touch = e.touches[0];
                var me = new MouseEvent("mousedown", {
                    clientX: touch.clientX,
                    clientY: touch.clientY
                });
                canvas.dispatchEvent(me);
            }, false);

            canvas.addEventListener("touchend", function (e) {
                var me = new MouseEvent("mouseup", {});
                canvas.dispatchEvent(me);
            }, false);

            function getMousePos(canvasDom, mouseEvent) {
                var rect = canvasDom.getBoundingClientRect();
                return {
                    x: mouseEvent.clientX - rect.left,
                    y: mouseEvent.clientY - rect.top
                }
            }

            function getTouchPos(canvasDom, touchEvent) {
                var rect = canvasDom.getBoundingClientRect();
                return {
                    x: touchEvent.touches[0].clientX - rect.left,
                    y: touchEvent.touches[0].clientY - rect.top
                }
            }

            function renderCanvas() {
                if (drawing) {
                    ctx.moveTo(lastPos.x, lastPos.y);
                    ctx.lineTo(mousePos.x, mousePos.y);
                    ctx.stroke();
                    lastPos = mousePos;
                }
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchend", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);
            document.body.addEventListener("touchmove", function (e) {
                if (e.target == canvas) {
                    e.preventDefault();
                }
            }, false);

            (function drawLoop() {
                requestAnimFrame(drawLoop);
                renderCanvas();
            })();

            function clearCanvas() {
                canvas.width = canvas.width;
            }

            // Set up the UI
            var sigText = document.getElementById("sig-dataUrl");
            var sigImage = document.getElementById("sig-image");
            var clearBtn = document.getElementById("sig-clearBtn");
            var submitBtn = document.getElementById("sig-submitBtn");
            clearBtn.addEventListener("click", function (e) {
                clearCanvas();
                sigImage.setAttribute("src", "");
            }, false);
            submitBtn.addEventListener("click", function (e) {
                var dataUrl = canvas.toDataURL();
                sigImage.setAttribute("src", dataUrl);
                canvas.toBlob(function (blob) {

                    var formCanv = new FormData();

                    formCanv.append("image_file", blob);
                    console.log(formCanv)
                    var xhr = new XMLHttpRequest;
                    xhr.open("POST", "/api/upload");
                    xhr.send(formCanv);

                }, "image/png");
            }, false);

        })();
    </script>
{% endblock %}