{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}
    <title>Dashboard | MNEST Africa</title>
{% endblock %}
{% block headscripts %}
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/chartist/chartist.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/aspieprogress/asPieProgress.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/jquery-selective/jquery-selective.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/bootstrap-datepicker/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/dashboard/team.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/fonts/font-awesome/font-awesome.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <style>
        /* Important part */
        .modal-dialog {
            overflow-y: initial !important
        }

        .modal-body {
            height: 80vh;
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block page %}

    <!-- Page -->
    <div class="page">
        <div class="page-content container-fluid">
            <div class="row" data-plugin="matchHeight" data-by-row="true">

                <div class="col-lg-2 col-sm-4">
                    <a class="btn  btn-dark btn-animate-side" href="{% url 'profile' %}">
                        <i class="icon fa-user" aria-hidden="true"></i>
                        <span class="hidden-sm-down">Account</span>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a class="btn  btn-dark btn-animate-side" href="">
                        <i class="icon fa-chain-broken" aria-hidden="true"></i>
                        <span class="hidden-sm-down">Service Request</span>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a class="btn  btn-dark btn-animate-side" href="{% url 'attach_people' %}">
                        <i class="icon fa-sticky-note" aria-hidden="true"></i>
                        <span class="hidden-sm-down">Attach People</span>
                    </a>
                </div>
                <div class="col-lg-2 col-sm-4">
                    <a class="btn  btn-dark btn-animate-side" href="{% url 'tenant_bill-personal' %}">
                        <i class="icon fa-list-alt" aria-hidden="true"></i>
                        <span class="hidden-sm-down">Invoices</span>
                    </a>
                </div>
                <br>
                <br>
                <br>

                <!-- First Row -->
                <!-- Personal -->
                <div class="col-xxl-9">
                    <div id="personalCompletedWidget" class="card card-shadow pb-20">
                        <div class="card-header card-header-transparent cover overlay">
                            <img class="cover-image" src="../../../global/photos/placeholder.png">
                            <div class="overlay-panel overlay-background vertical-align"
                                 style="background: rgba(212,175,55 ,1)">
                                <div class="vertical-align-middle">
                                    <a class="avatar" href="javascript:void(0)">
                                        <img alt="" src="{% static 'authapp/assets/images/apple-touch-icon.png' %}">
                                    </a>
                                    <div class="font-size-20 mt-10">{{ prof.first_name }} {{ prof.last_name }}</div>
                                    <div class="font-size-14">{{ prof.user.email }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-block">
                            <div class="row text-center mb-20">
                                <div class="col-6">
                                    <div class="counter">
                                        <div class="counter-label total-completed">TENANT ID</div>
                                        <div class="counter-number red-600">{{ user.username }}</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="counter">
                                        <div class="counter-label">PRIMARY CONTACT</div>
                                        <div class="counter-number blue-600">{{ prof.msisdn }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <caption></caption>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <i class="icon wb-home" aria-hidden="true"></i> Property
                                        </td>
                                        <td>
                                            {{ tenant.unit.property.property_name }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icon wb-grid-4" aria-hidden="true"></i> Unit Assigned
                                        </td>
                                        <td>
                                            {{ tenant.unit.unit_name }}
                                        </td>
                                    </tr>
                                    {% if tenant.secondary_msisdn %}
                                        <tr>
                                            <td>
                                                <i class="icon wb-mobile" aria-hidden="true"></i> Secondary Mobile
                                            </td>
                                            <td>
                                                {{ tenant.secondary_msisdn }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>
                                            <i class="icon wb-calendar" aria-hidden="true"></i> Tenant Since
                                        </td>
                                        <td>
                                            {{ tenant.date_occupied }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="icon wb-user-circle" aria-hidden="true"></i> Appartment Manager
                                        </td>
                                        <td>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Personal -->
                <!-- Completed Options Pie Widgets -->
                <div class="col-xxl-3">
                    <div class="row h-full" data-plugin="matchHeight">
                        <div class="col-xxl-12 col-lg-4 col-sm-4">
                            <div class="card card-shadow card-completed-options">
                                <div class="card-block p-30">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="counter text-left blue-grey-700">
                                                <div class="counter-label mt-10 ">Amount Due
                                                </div>
                                                <div class="counter-number font-size-40 mt-10 red-600">
                                                    Kshs. {{ bals }}
                                                </div>
                                                <a data-target="#examplePositionCenter" data-toggle="modal"
                                                       class="btn btn-default block">Make Payment</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-lg-4 col-sm-4">
                            <div class="card card-shadow card-completed-options">
                                <div class="card-block p-30">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="counter text-left blue-grey-700">
                                                <div class="counter-label mt-10 ">Rent Due
                                                </div>
                                                <div class="counter-number font-size-40 mt-10 red-600">
                                                    Kshs. {{ r_bals }}
                                                </div>
                                                {% if r_bal != 0 %}
                                                    <a data-target="#examplePositionCenter2" data-toggle="modal"
                                                       class="btn btn-default block">Make Payment</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-lg-4 col-sm-4">
                            <div class="card card-shadow card-completed-options">
                                <div class="card-block p-30">
                                    <div class="row">
                                        <div class="col-3">
                                            <br><br>
                                            <i class="icon fa-file" aria-hidden="true" style="font-size: 62px;"></i>
                                        </div>
                                        <div class="col-6">
                                            <div class="counter text-left blue-grey-700">
                                                <div class="counter-label mt-10">Open Invoices
                                                </div>
                                                <div class="counter-number font-size-40 mt-10">
                                                    {{ inv }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12 col-lg-4 col-sm-4">
                            <div class="card card-shadow card-completed-options">
                                <div class="card-block p-30">
                                    <div class="row">
                                        <div class="col-3">
                                            <br><br>
                                            <i class="icon fa-file" aria-hidden="true" style="font-size: 62px;"></i>
                                        </div>
                                        <div class="col-6">
                                            <div class="counter text-left blue-grey-700">
                                                <div class="counter-label mt-10">Documents
                                                </div>
                                                <a href="">
                                                    <div class="counter-number font-size-40 mt-10">
                                                        {{ inv }}
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Completed Options Pie Widgets -->
                <!-- End First Row -->
                <!-- Second Row -->
                <!-- End Second Row -->
            </div>

            <!-- Modal -->
            <div class="modal fade example-modal-lg" id="examplePositionCenter" aria-hidden="true"
                 aria-labelledby="examplePositionCenter"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-simple modal-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Make Payment</h4>
                        </div>
                        <div class="modal-body">
                            <h5>1. Via HapoKash-Wallet</h5>
                            <h6>Wallet balance KSH. {{ cur_balance }}</h6>
                            <form id="hkpay">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-label" for="amount">Amount*</label>
                                    <input type="number" class="form-control" id="amount" name="amount" max="{{ cur_balance }}"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="inv">Invoice*</label>
                                    <select data-plugin="selectpicker" title="Invoice " id="inv" name="invoice" required>
                                        {% for a in invoice %}
                                            <option value="{{ a.uuid }}">{{ a.invoice_no }} </option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-success">Pay</button>
                            </form>

                            <h5>2. Via Mpesa-HapoKash</h5>
                            <p class="text-dark">
                                If the number {{ tenant.profile.msisdn }} correct? If not Change it from Profile
                            </p>
                            <form id="hkpayrent">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-label" for="amount">Amount*</label>
                                    <input type="number" class="form-control" id="amount" name="amount"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="inv">Invoice*</label>
                                    <select data-plugin="selectpicker" title="Invoice" id="inv" name="invoice" required>
                                        {% for a in invoice %}
                                            <option value="{{ a.uuid }}">{{ a.invoice_no }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-success">Pay</button>
                            </form>

                            <h5>3. Via Bank</h5>
                            <p class="text-dark">
                                Make a deposit to one of the following bank accounts and record payment from Bills on
                                the appropriate <a href="{% url 'tenant_bill-personal' %}">invoice</a>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Bank</th>
                                    <th>Account Number</th>
                                    </thead>
                                    <tbody>
                                    {% for foo in bank %}

                                        <tr>
                                            <td>{{ foo.bank.bank }}</td>
                                            <td>{{ foo.acc }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <h5>4. Via Mpesa-Paybill</h5>
                            <p class="text-dark">
                                Make a payment to one of the following paybills with the account number instrutions and
                                record payment from Bills on the appropriate <a href="{% url 'tenant_bill-personal' %}">invoice</a>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Paybill</th>
                                    <th>Account Number Instructions</th>
                                    </thead>
                                    <tbody>
                                    {% for foo in paybills %}

                                        <tr>
                                            <td>{{ foo.paybill }}</td>
                                            <td>{{ foo.acc }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <h5>5. Via Mpesa-Buy Goods</h5>
                            <p class="text-dark">
                                Make a deposit to one of the following till numbers and record payment from Bills on
                                the appropriate <a href="{% url 'tenant_bill-personal' %}">invoice</a>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Till Number</th>
                                    </thead>
                                    <tbody>
                                    {% for foo in tills %}

                                        <tr>
                                            <td>{{ foo.till }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
            <!-- Modal -->
            <div class="modal fade example-modal-lg" id="examplePositionCenter2" aria-hidden="true"
                 aria-labelledby="examplePositionCenter"
                 role="dialog" tabindex="-1">
                <div class="modal-dialog modal-simple modal-center">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title">Make Payment</h4>
                        </div>
                        <div class="modal-body">
                            <h5>1. Via HapoKash-Wallet</h5>
                            <h6>Wallet balance KSH. {{ cur_balance }}</h6>
                            <form id="hkpaytrans">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-label" for="amount">Amount*</label>
                                    <input type="number" class="form-control" id="amount" name="amount" max="{{ cur_balance }}"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="inv">Invoice*</label>
                                    <select data-plugin="selectpicker" title="Invoice | Due Date" id="inv" name="invoice" required>
                                        {% for a in rent_invoices %}
                                            <option value="{{ a.uuid }}">{{ a.invoice_no }} | {{ a.date_due }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-success" data-dismiss="modal">Pay</button>
                            </form>

                            <h5>2. Via Mpesa-HapoKash</h5>
                            <p class="text-dark">
                                If the number {{ tenant.profile.msisdn }} correct? If not Change it from Profile
                            </p>
                            <form id="hkpayinv">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-label" for="amount">Amount*</label>
                                    <input type="number" class="form-control" id="amount" name="amount"
                                           required="required">
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="inv">Invoice*</label>
                                    <select data-plugin="selectpicker" title="Invoice | Due Date" id="inv" name="invoice" required>
                                        {% for a in rent_invoices %}
                                            <option value="{{ a.uuid }}">{{ a.invoice_no }} | {{ a.date_due }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <button type="submit" class="btn btn-success" data-dismiss="modal">Pay</button>
                            </form>

                            <h5>3. Via Bank</h5>
                            <p class="text-dark">
                                Make a deposit to one of the following bank accounts and record payment from Bills on
                                the appropriate <a href="{% url 'tenant_bill-personal' %}">invoice</a>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Bank</th>
                                    <th>Account Number</th>
                                    </thead>
                                    <tbody>
                                    {% for foo in bank %}

                                        <tr>
                                            <td>{{ foo.bank.bank }}</td>
                                            <td>{{ foo.acc }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <h5>4. Via Mpesa-Paybill</h5>
                            <p class="text-dark">
                                Make a payment to one of the following paybills with the account number instrutions and
                                record payment from Bills on the appropriate <a href="{% url 'tenant_bill-personal' %}">invoice</a>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Paybill</th>
                                    <th>Account Number Instructions</th>
                                    </thead>
                                    <tbody>
                                    {% for foo in paybills %}

                                        <tr>
                                            <td>{{ foo.paybill }}</td>
                                            <td>{{ foo.acc }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <h5>5. Via Mpesa-Buy Goods</h5>
                            <p class="text-dark">
                                Make a deposit to one of the following till numbers and record payment from Bills on
                                the appropriate <a href="{% url 'tenant_bill-personal' %}">invoice</a>
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Till Number</th>
                                    </thead>
                                    <tbody>
                                    {% for foo in tills %}

                                        <tr>
                                            <td>{{ foo.till }}</td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Modal -->
        </div>
    </div>
    <!-- End Page -->
{% endblock %}

{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/chartist/chartist.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/aspieprogress/jquery-asPieProgress.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/jquery-selective/jquery-selective.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>

    <script src="{% static 'authapp/global/js/Plugin/matchheight.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/aspieprogress.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'authapp/assets/examples/js/dashboard/team.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
        $('select').selectpicker();
    </script>

{% endblock %}