{% extends 'authapp/base.html' %}
{% load static %}

{% block title %}
    <title>Add Properties | MNEST Africa</title>
{% endblock %}
{% block headscripts %}
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/formvalidation/formValidation.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/forms/validation.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/blueimp-file-upload/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/dropify/dropify.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- Map Css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
            integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
            crossorigin=""></script>

    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.css"
          integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="
          crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.3/dist/esri-leaflet-geocoder.js"
            integrity="sha512-HrFUyCEtIpxZloTgEKKMq4RFYhxjJkCiF5sDxuAokklOeZ68U2NPfh4MFtyIVWlsKtVbK5GD2/JzFyAfvT5ejA=="
            crossorigin=""></script>

{% endblock %}
{% block page %}
    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Add Properties</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'prop-list' %}">Properties</a></li>
                <li class="breadcrumb-item active">Add Properties</li>
            </ol>
            <div class="page-header-actions">
            </div>
        </div>

        <div class="page-content container-fluid">

            <!-- Panel Full Example -->
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="panel-desc"> </span>
                    </h3>
                </div>
                <div class="panel-body">

                    <form id="exampleFullForm" enctype="multipart/form-data" action="{% url 'add-list' %}"
                          method="post">
                        {% csrf_token %}
                        <div class="row row-lg">
                            <div class="col-xl-6 form-horizontal">
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Property Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class=" col-xl-12 col-md-9">
                                        <input type="text" class="form-control" name="p_name" required="required">
                                    </div>
                                </div>
                                {% if u.acc_type.id == 3 %}

                                    <div class="form-group row">
                                        <label class="col-xl-12 col-md-3 form-control-label">Owner
                                            <span></span>
                                        </label>
                                        <div class="col-xl-12 col-md-9">
                                <textarea class="form-control" name="owner" rows="3" placeholder="Landlord's Info">

                                </textarea>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Property Value
                                    </label>
                                    <div class=" col-xl-12 col-md-9">
                                        <input type="text" class="form-control" name="val_prop">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Date Started Management
                                    </label>
                                    <div class="col-xl-12 col-md-9">
                                        <input type="date" class="form-control" name="start_date"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="acc_type">Property Type *</label>
                                    <select data-plugin="selectpicker" title="Property Type" id="p_type"
                                            name="p_type" required="required">
                                        <option value="Residential">Residential</option>
                                        <option value="Commercial">Commercial</option>
                                    </select>
                                </div>
                                <div class="form-group" id="rest">
                                    <label class="form-control-label" for="acc_type">Building Type *</label>
                                    <select data-plugin="selectpicker" title="Building Type" id="b_type"
                                            name="b_type" required="required">
                                        <option value="Apartment">Apartment</option>
                                        <option value="Bungalow">Bungalow</option>
                                        <option value="Town House/Maisonette">Town House/Maisonette</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Rent Collection
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-xl-12 col-md-9">
                                        <div class="d-flex flex-column" id="radio">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="spe_date" name="rent_coll" value="Spec_date"
                                                       required="">
                                                <label for="spe_date">On Date Specific Day</label>
                                            </div>

                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="occ_date" name="rent_coll"
                                                       value="Occ_date">
                                                <label for="occ_date">On Date of Occupancy</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" id="spday">
                                    <label class="col-xl-12 col-md-3 form-control-label">Specify Day
                                        <span class="required">*</span>
                                    </label>
                                    <div class=" col-xl-12 col-md-9">
                                        <input type="number" class="form-control" name="specify_day" id="specify_day"
                                               required="" min="1"
                                               max="31">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Rent Payment Delay Penalty/Day
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-xl-12 col-md-9">
                                        <div class="d-flex flex-column">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="percent" name="pen_type" value="percent"
                                                       required="">
                                                <label for="percent">Percentage of rent</label>
                                            </div>

                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="fixamnt" name="pen_type" value="fixed">
                                                <label for="fixamnt">Fixed amount</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Penalty Value
                                        <span class="required">*</span>
                                    </label>
                                    <div class=" col-xl-12 col-md-9">
                                        <input type="number" class="form-control" name="penalty" required="" min="0">
                                    </div>
                                </div>
                                <label class="form-control-label" for="pic">Picture</label>
                                <input type="file" id="pic" name="pic" data-plugin="dropify"
                                       data-default-file="" accept="image/*"/>
                            </div>

                            <div class="col-xl-6 form-horizontal">
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Number of floors
                                        <span class="required">*</span>
                                    </label>
                                    <div class=" col-xl-12 col-md-9">
                                        <input type="number" class="form-control" name="floors" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Number of units
                                        <span class="required">*</span>
                                    </label>
                                    <div class=" col-xl-12 col-md-9">
                                        <input type="number" class="form-control" name="units" required="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Number of parking</label>
                                    <div class=" col-xl-12 col-md-9">
                                        <input type="number" class="form-control" name="parking">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Electricity
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-xl-12 col-md-9">
                                        <div class="d-flex flex-column">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputAwesome" name="elec" value="Prepaid"
                                                       required="">
                                                <label for="inputAwesome">Prepaid</label>
                                            </div>

                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="inputVeryAwesome" name="elec"
                                                       value="Postpaid">
                                                <label for="inputVeryAwesome">Postpaid</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Water Bill payment
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-xl-12 col-md-9">
                                        <div class="d-flex flex-column">
                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="agent" name="water" value="agent"
                                                       required="">
                                                <label for="agent">On agent</label>
                                            </div>

                                            <div class="radio-custom radio-primary">
                                                <input type="radio" id="tent" name="water" value="tenant">
                                                <label for="tent">On tenant</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-12 col-md-3 form-control-label">Location Description
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-xl-12 col-md-9">
                                <textarea class="form-control" name="loc_desc" rows="3"
                                          placeholder="Location description"
                                          required=""></textarea>
                                    </div>
                                </div>
                                <div id="mapid" style="height: 380px"></div>


                                <div class="form-line">
                                    <input type="number" class="form-control" id="latitude" name="latitude"
                                           placeholder="Latitude" required readonly>
                                </div>
                                <div class="form-line">
                                    <input type="number" class="form-control" id="longitude" name="longitude"
                                           placeholder="Longitude" required readonly>
                                </div>


                                <div class="form-group col-xl-12 text-right padding-top-m">
                                    <button type="submit" class="btn btn-primary" id="validateButton1">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <!-- End Panel Full Example -->

        </div>
    </div>
    <!-- End Page -->


{% endblock %}
{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/formvalidation/formValidation.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/formvalidation/framework/bootstrap4.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/dropify/dropify.min.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/dropify.js' %}"></script>
    <script src="{% static 'authapp/assets/examples/js/forms/uploads.js' %}"></script>

    {#    <script src="{% static 'authapp/assets/examples/js/forms/validation.js' %}"></script>#}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#rest').hide();
            $('#spday').hide();
            document.getElementById('specify_day').required = false;
            document.getElementById('b_type').required = false;
        });
        $('select').selectpicker();
        $('#p_type').change(function () {
            var value = $(this).val();
            console.log(value)
            if (value === "Commercial") {
                $('#rest').hide();
                document.getElementById('b_type').required = false;

            } else if (value === "Residential") {
                $('#rest').show();
                document.getElementById('b_type').required = true;
            }

        });
        $('#radio').click(function () {
            if ($('#spe_date').is(':checked')) {
                $('#spday').show();
                document.getElementById('specify_day').required = true;
            } else {
                $('#spday').hide();
                document.getElementById('specify_day').required = false;
            }
        });
    </script>

    <script>
        var mymap = L.map('mapid').setView([-1.28759, 36.8109], 13);
        var theMarker = {};
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2JyaWFuYmV0IiwiYSI6ImNrZ3Ribm5kOTFkYjcyc2w4aXFjejYyZmcifQ.URkZ3ETN8Wezmq2uVk46XQ', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'your.mapbox.access.token'
        }).addTo(mymap);

        mymap.locate({setView: true, maxZoom: 16});
        var arcgisOnline = L.esri.Geocoding.arcgisOnlineProvider();

        L.esri.Geocoding.geosearch({
            providers: [
                arcgisOnline,
                L.esri.Geocoding.mapServiceProvider({
                    label: 'States and Counties',
                    url: 'https://sampleserver6.arcgisonline.com/arcgis/rest/services/Census/MapServer',
                    layers: [2, 3],
                    searchFields: ['NAME', 'STATE_NAME']
                })
            ]
        }).addTo(mymap);

        function onLocationFound(e) {
            var radius = e.accuracy;
            lat = e.latlng.lat;
            lon = e.latlng.lng;

            theMarker = L.marker(e.latlng).addTo(mymap)
                .bindPopup("You are within " + radius + " meters from this point").openPopup();
            document.querySelector('#latitude').value = lat;
            document.querySelector('#longitude').value = lon;

        }

        mymap.on('locationfound', onLocationFound);

        mymap.on('click', function (e) {
            lat = e.latlng.lat;
            lon = e.latlng.lng;

            console.log("You clicked the map at LAT: " + lat + " and LONG: " + lon);
            document.querySelector('#latitude').value = lat;
            document.querySelector('#longitude').value = lon;
            //Clear existing marker,

            if (theMarker != undefined) {
                mymap.removeLayer(theMarker);
            }

            //Add a marker to show where you clicked.
            theMarker = L.marker([lat, lon]).addTo(mymap);
        });

    </script>
{% endblock %}
