{% extends 'authapp/base.html' %}
{% load static %}

{% block headscripts %}
    <link rel="stylesheet" href="../../assets/examples/css/pages/invoice.css">

{% endblock %}

{% block title %}

    <title>Lease Agreement | MNEST Africa</title>
{% endblock %}

{% block page %}

    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Lease Agreement</h1>
        </div>

        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-lg-3">

                        </div>
                        <div class="col-lg-3 offset-lg-6 text-right">

                        </div>
                    </div>

                    <div class="page-invoice-table table-responsive">
                        {% if tenant.unit.property.company.logo %}
                            <img class="text-center" src="{{ tenant.unit.property.company.logo.url }}" alt="...">
                        {% endif %}
                        <h3 class="text-center">HOUSE RENTAL AGREEMENT</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th><h4>Landlord/Agent Information</h4></th>
                                    <th><h4>Tenant Information</h4></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Name<br>{{ landlord.first_name }} {{ landlord.last_name }}</td>
                                    <td>Name<br>{{ tenant.profile.first_name }} {{ tenant.profile.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>Address<br></td>
                                    <td>Address<br></td>
                                </tr>
                                <tr>
                                    <td>Phone Number<br>{{ landlord.msisdn }}</td>
                                    <td>Phone Number<br>{{ tenant.profile.msisdn }}</td>
                                </tr>
                                <tr>
                                    <td>ID/Company<br>{{ tenant.unit.property.company.name }} <br></td>
                                    <td>ID<br>{{ tenant.profile.id_number }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th><h5> Rental Information</h5></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        Property Rental Address<br>
                                        {{ tenant.unit.property.property_name }}<br>
                                        {{ tenant.unit.unit_name }}
                                    </td>
                                    <td> Rent Amount<br>{{ tenant.unit.value }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        Start Date of Agreement (Date of Occupancy)<br>
                                        {{ tenant.date_occupied }}<br>
                                    </td>
                                    <td> Security Deposit<br>{{ tenant.unit.security_deposit }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        End Date of Agreement (Date of Vacancy)<br>

                                    </td>
                                    <td> Late Charges<br>{% if tenant.unit.property.penalty_type == "percent" %}
                                        {{ tenant.unit.property.penalty_value }}% per Day{% else %}
                                        KES. {{ tenant.unit.property.penalty_value }} per Day{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Date of First Payment<br> .
                                    </td>
                                    <td>
                                        Payment Details<br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Pay Period<br>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>

                        <p>This House Rental Agreement made on {{ tenant.created_at }}
                            between {{ landlord.first_name }} {{ landlord.last_name }} (Landlord) and
                            {{ tenant.profile.first_name }} {{ tenant.profile.last_name }} (Tenant).</p>
                        <h6 class="text-center">TERMS AND CONDITIONS</h6>
                        <p class="-bold">I. ACKNOWLEDGMENT</p>
                        <p>The Landlord agrees to rent the house to the Tenant under these terms in its present
                            condition
                            located at {{ tenant.unit.property.property_name }}, Kenya The Tenant acknowledges the terms
                            of this Agreement and comply.</p>
                        <p>II. AGREEMENT TERM</p>
                        <p>This House Rental Agreement will begin on {{ tenant.created_at }} and end on ____________ .
                            After this, a renewal agreement will be created for the new term.</p>
                        <p>III. MONTHLY RENTAL</p>
                        <p>The monthly rental shall be per month. Payments will be made by the date specified. The
                            monthly rental shall be collected by every “Date of when on boarded/Number of Days”. If the
                            tenant fails to pay on the due date, late charges of will be applied.</p>
                        <p>IV. SECURITY DEPOSIT</p>
                        <p>The Tenant agrees to pay a security deposit of KES. {{ tenant.unit.security_deposit }}. The
                            Security Deposit is to be refunded upon leaving the residency, terminating this contract,
                            and returning the keys to the Landlord/Agent. The Security Deposit will cover for any damage
                            to the premise. This Security Deposit will also cover in case the Tenant fails to pay the
                            utility bills.</p>
                        <p>V. UTILITIES</p>
                        <p>Tenants will be responsible for paying all utilities like electricity, water, gas, telephone,
                            cable, internet and service charge.</p>
                        <p>VI. MAINTENANCE AND DAMAGES</p>
                        <p>Tenant shall keep the premises in good condition. The Tenant will be responsible for any
                            damage caused which means the Tenant will bear all the expenses in fixing it. Tenants shall
                            follow reasonable standards of cleanliness. Written permission from the “landlord/agent” is
                            needed for any alterations. The Landlord may enter the premises for the purposes of
                            inspection, repair, maintenance, and emergency.</p>
                        <p>VII. OCCUPANCY</p>
                        <p>The number of occupants is limited to “Number of Occupants”. It will only be occupied by the
                            Tenant and his/her family members.</p>
                        <p>VIII. RULES and REGULATIONS</p>
                        <p>The number of guests shall not exceed 3. An overnight guest may not stay for more than two
                            (2) nights. “Pets are not allowed on the premises” (other amenities). Smoking is prohibited
                            on the premises.</p>
                        <p>IX. PEACE AND ORDER</p>
                        <p>Tenants are not allowed to keep firearms, bows, combat knife and other weapons on the
                            premises. Tenants agree not to use the premises in a way to disturb the peace in the
                            neighborhood.</p>
                        <p>X. ABANDONMENT</p>
                        <p>If the Tenant abandons the house, the Landlord/Agent has the right to enter the house by any
                            means without liabilities. The Landlord is allowed to presume that Tenant abandoned the
                            premise if the furniture and other items were removed. If the house is unoccupied for a
                            period of 60 consecutive days without written notification to the Landlord, it will be
                            considered as abandonment.</p>
                        <p>XI. AMENDMENTS</p>
                        <p>This Agreement can only be changed or modified through the written consent of both
                            parties.</p>
                        <p>XII. GOVERNING LAW</p>
                        <p>This agreement shall be governed under the laws of the Kenya. We, the undersigned, hereby
                            agreed that we have read this agreement and bounded by its terms and conditions.</p>
                        <p class="text-center">Date of Signing</p>

                        <span class="text-left">{{ landlord.first_name }} {{ landlord.last_name }}</span>
                        <p>Signature {% if sign.pics.url %} <img id="sig-image" src="{{ sign.pics.url }}" alt="Current signature."/>
                        {% else %} {% endif %}</p>
                            <br>
                        <span class="text-right">{{ tenant.profile.first_name }} {{ tenant.profile.last_name }}</span><br>

                        <p>Signature</p>


                    </div>

                    <div class="text-right clearfix">

                    </div>
                    <div class="text-right">

                        <button type="button" class="btn btn-animate btn-animate-side btn-default btn-outline"
                                onclick="window.print();">
                            <span><i class="icon wb-print" aria-hidden="true"></i> Print</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
    <!-- End Page -->

{% endblock %}
{% block footscripts %}
    <script>
        var sum1 = 0;
        var sum2 = 0;
        $("#category tr").not(':first').each(function () {
            sum2 += getnum($(this).find("td:eq(3)").text());

            function getnum(t) {
                if (isNumeric(t)) {
                    return parseInt(t, 10);
                }
                return 0;

                function isNumeric(n) {
                    return !isNaN(parseFloat(n)) && isFinite(n);
                }
            }
        });
        $("#sum2").text(sum2);
        $("#sum1").text('KSHS. ' + sum2);
    </script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

{% endblock %}