{% extends 'authapp/base.html' %}
{% load static %}

{% block headscripts %}
    <link rel="stylesheet" href="../../assets/examples/css/pages/invoice.css">

{% endblock %}

{% block title %}

    <title>Lease Agreement | MNEST Africa</title>
{% endblock %}

{% block page %}

    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Lease Agreement</h1>
        </div>

        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-lg-3">

                        </div>
                        <div class="col-lg-3 offset-lg-6 text-right">

                        </div>
                    </div>

                    <div class="page-invoice-table table-responsive">
                        <p>
                            TENANCY AGREEMENT BETWEEN</p>
                        <p>{{ tenant.profile.first_name }} {{ tenant.profile.last_name }}</p>

                        <p>AND</p>
                        <p>{{ landlord.first_name }} {{ landlord.last_name }}</p>
                        <p>MOBILE: {{ landlord.mobile }}</p>
                        <br>
                        <br>
                        <p>ALL THE PREMISES KNOWN AS {{ tenant.unit.property.property_name }}
                            UNIT {{ tenant.unit.unit_name }}</p>
                        <br>
                        <br>
                        <br>

                        <p>TENANCY AGREEMENT</p>
                        <p>THIS TENANCY AGREEMENT made this {{ tenant.created_at.day }} day
                            of {{ tenant.created_at.month }}. {{ tenant.created_at.year }}. {{ landlord.first_name }} {{ landlord.last_name }}
                            in the Republic of Kenya (herein after called “the Landlord” which expression shall where
                            the context so admits include her heir’s successors and assigns) 0F THE ONE PART


                            AND {{ tenant.profile.first_name }} {{ tenant.profile.last_name }} in the Republic of Kenya
                            (herein after called “the Tenant” which expression shall where the context so admits include
                            her heir’s successors
                            and assigns) OF THE OTHER PART
                        </p>

                        <p>WHEREAS: -</p>
                        <br>
                        <p>THE LANDLORD is the registered proprietor of ALL THAT parcel of land situate in ............
                            known as Land Reference Number ......... and all developments thereon in the area more
                            commonly known as {{ tenant.unit.property.property_name }} (herein after referred to as “the
                            Premises)</p>

                        <p>THE LANDLORD has agreed to let to the tenant the Premises by this agreement and the Tenant
                            has agreed to let from LANDLORD THE PREMISES subjects to the covenant’s rights duties and
                            obligations of the parties hereinafter contained:</p>

                        <p>NOW THESE PRESENTS WITNESSETH AS FOLLOWS;</p>


                        <p>1. IN CONSIDERATION of the rent hereinafter reserved and of the covenants by the Tenant
                            hereinafter contained the Landlord HEREBY LETS/RENTS unto the Tenant THE PREMISES comprising
                            together with the rights set out hereunder so far as the Landlord has the power to grant the
                            same including but not limited to the right to use the yard, compound, parking, washing and
                            other facilities situated outside the Premises and other conveniences provided for the use
                            of the Tenant</p>
                        <br>
                        <p>TO BE HELD by the Tenant for the term of their stay subject
                            nevertheless to prior determination as hereinafter provided, at the monthly rent for their
                            stay of Kenyan Shillings {{ tenant.unit.value }} (Ksh ) per month
                            payable monthly in advance on or before the day day set every calender month, provided that
                            the first rent shall be payable on or
                            before, and prior to taking possession of the premises,</p>
                        <br>
                        <p>2. IN CONSIDERATION of the covenants by the Landlord hereinafter contained THE TENANT HEREBY
                            COVEthNANTS AND AGREES with the Landlord as follows;
                        </p>
                        <p>
                            1. To pay the landlord refundable rent-security deposit of Kenyan Shilling
                            {{ tenant.unit.security_deposit }}. as security for the performance by the Tenant of his
                            obligations under this lease
                            and the delivery up of the premises upon termination and in accordance with the provisions
                            of
                            this lease agreement, the said sum to be repaid/refunded to the Tenant less any unpaid sums
                            lawfully due and owing to the Landlord under the terms of this lease agreement within thirty
                            (30) days of termination of this lease after its term, PROVIDED THAT there shall be
                            excluding any
                            anticipatory or speculative damages costs expenses or awards in the computation of the sums
                            due
                            and owing to the Landlord referred to herein;
                        </p>
                        <p>
                            2. To pay at the time or prior to the execution hereof the following refundable
                            conservancy-security deposits:
                        </p>
                        <p>
                            • Electricity deposit of Kenyan Shilling ;and
                            • Water
                        </p>
                        <p>
                            3. All sums herein before provided shall be payable into the accounts provided </p>
                        <p>
                            4. To pay to the landlord or his appointed agents the rents herby reserved in advanced and
                            not
                            later than the day set of every calendar monthy; if the said rent or any other payments due
                            hereunder or any other part thereof shall remain unpaid on the due date, or if the tenant is
                            declared bankruptcy or enters into a composition with creditors or suffers distress for rent
                            or
                            execution or if there is any breach or non- performance or non-observance by the tenant of
                            any
                            of the covenants or agreement herein and and on

                            the part of the tenants to be performed and observed then the landlord may may at anytime
                            thereafter upon giving a seven day written notice enter upon the premises and reposses and
                            enjoy
                            the premises and repossess and enjoy the premises without prejudice to any right of action
                            or
                            remedy of the landlord in respect of any antecedent breach of any covenant by the tenant.
                        </p>
                        <p>
                            5. Not to use the premises or any part thereof for any purpose other than as a residential
                            premises for one family ;being the Tenants family and his or her domestic servants or
                            workers
                            ,without the prior written consent of the landlord first hand and obtained.</p>
                        <p>
                            6. To use only electricity or gas cookers and not to use charcoal,coal,paraffin or other
                            means
                            of fuel for cooking within the built up area.
                        </p>
                        <p>
                            7. Not to permit any part of the premises to be used or occupied by others without the
                            landlords
                            written consent first hand and obtained;</p>
                        <p>
                            8. To pay all water,electricity ,sanitary,conservancy and telephone charges
                        <p>
                        <p>
                            SIGNED BY:</p>
                        <p>
                            LANDLORD NAME SIGN DATE
                        </p>
                        <p>
                            TENANT NAMES</p>
                        <p>
                            SIGN DATE

                        </p>
                    </div>

                    <div class="text-right clearfix">

                    </div>
                    <div class="text-right">

                        <button type="button" class="btn btn-animate btn-animate-side btn-default btn-outline"
                                onclick="javascript:window.print();">
                            <span><i class="icon wb-print" aria-hidden="true"></i> Print</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
    <!-- End Page -->

{% endblock %}
{% block footscripts %}
    <script>
        var sum1 = 0;
        var sum2 = 0;
        $("#category tr").not(':first').each(function () {
            sum2 += getnum($(this).find("td:eq(3)").text());

            function getnum(t) {
                if (isNumeric(t)) {
                    return parseInt(t, 10);
                }
                return 0;

                function isNumeric(n) {
                    return !isNaN(parseFloat(n)) && isFinite(n);
                }
            }
        });
        $("#sum2").text(sum2);
        $("#sum1").text('KSHS. ' + sum2);
    </script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

{% endblock %}