{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}

    <title>Properties | MNEST</title>
{% endblock %}
{% block headscripts %}
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/flag-icon-css/flag-icon.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/blueimp-file-upload/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/dropify/dropify.css' %}">

    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/advanced/masonry.css' %}">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>


{% endblock %}
{% block page %}

    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Properties</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Properties</li>
            </ol>
            <div class="page-header-actions">
            </div>
        </div>

        <div class="page-content blue-grey-500">
            <ul class="blocks blocks-100 blocks-xxl-4 blocks-lg-3 blocks-md-2" data-plugin="masonry">
                {% for i in prop %}
                    <li class="masonry-item">
                        <div class="card card-shadow">
                            <div class="card-header cover">
                                {% if i.pics %}
                                    <img class="cover-image" src="{{ i.pics.url }}" alt="{{ i.property_name }}">
                                {% else %}
                                    <img class="cover-image" src="{% static 'authapp/global/photos/placeholder.png' %}"
                                         alt="...">
                                {% endif %}
                            </div>
                            <div class="card-block">
                                <h3 class="card-title">{{ i.property_name }}</h3>
                                <p class="card-text type-link">
                                    <small>

                                        <a href="javascript:void(0)">{{ i.property_type }}</a>
                                        <a href="javascript:void(0)"></a>
                                        {#                                        <a href="javascript:void(0)">#}
                                        {#                                            <span>3</span> Comments</a>#}
                                    </small>
                                </p>
                                <p class="card-text">{{ i.location_desc }}</p>
                            </div>
                            <div class="card-block">
                                <div class="card-actions float-right">
                                            {% for key, value in tenant.items %}
                                                {% if key == i.uuid %}
                                    <a href="javascript:void(0)">
                                        <i class="icon wb-users" aria-hidden="true"></i>
                                        <span>
                                                    {{ value }}
                                                </span>
                                    </a>


                                                {% endif %}
                                            {% endfor %}
                                </div>
                                <button type="button" class="btn btn-outline btn-primary card-link">View</button>
                                <a href="{% url 'unit-list' u_uid=i.uuid %}"
                                   class="btn btn-outline btn-warning card-link">Units</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                <li class="masonry-item">
                    <div class="card card-shadow">
                        <div class="card-header cover">
                            <img class="cover-image" src="{% static 'authapp/global/photos/placeholder.png' %}"
                                 alt="...">
                        </div>
                        <div class="card-block">
                            <h3 class="card-title">Got a new property?</h3>
                        </div>
                        <div class="card-block">
                            <div class="card-actions float-right">
                                <a href="{% url 'add-list' %}">
                                    <i class="icon wb-plus" aria-hidden="true"></i>
                                    <span></span>
                                </a>
                            </div>
                            <a href="{% url 'add-list' %}" class="btn btn-outline btn-primary">Add New</a>
                        </div>
                    </div>
                </li>
                <li class="masonry-item">
                    <div class="card card-shadow">
                        <div class="card-header">
                            <form method="post" action="{% url 'file-prop' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="logo" data-plugin="dropify"/>
                                <button type="submit" class="btn btn-outline btn-danger">Upload</button>
                            </form>
                        </div>
                        <div class="card-block">
                            <h3 class="card-title">Upload Via file</h3>
                        </div>
                        <div class="card-block">

                            <a href="{% url 'file-template' %}" class="btn btn-outline btn-secondary">Download
                                Template</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/dropify/dropify.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/masonry/masonry.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/masonry.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/dropify.js' %}"></script>
    <script src="{% static 'authapp/assets/examples/js/forms/uploads.js' %}"></script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
    </body>

{% endblock %}
