{% extends 'authapp/base.html' %}
{% load static %}

{% block headscripts %}
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/pages/invoice.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/bootstrap-sweetalert/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css' %}">
    <link rel="stylesheet"
          href="{% static 'authapp/global/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/tables/datatable.css' %}">

{% endblock %}

{% block title %}

    <title>SMS Log | MNEST Africa</title>
{% endblock %}

{% block page %}

    <!-- Page -->
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">SMS Log</h1>
        </div>

        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">


                    <div class="col-xl-12 col-lg-12">
                        <!-- Card -->
                        <div class="card-group">
                            <div class="card card-block p-30">
                                <div class="counter counter-lg text-left pl-20">
                                    <span class="counter-number">{{ sms }}</span>
                                    <div class="counter-label text-uppercase">Current SMS Balance</div>
                                </div>
                            </div>
                            <div class="card card-block p-30">
                                <div class="counter counter-lg text-left pl-20">
                                    <span class="counter-number">{{ log.count }}</span>
                                    <div class="counter-label text-uppercase">Sent SMS</div>
                                </div>
                            </div>
                            <div class="card card-block p-30">
                                <div class="counter counter-lg text-left pl-20">
                                    <button class="btn btn-animate btn-animate-side btn-primary block"
                                            data-target="#examplePositionCenter" data-toggle="modal">
                                        <span><i class="icon wb-arrow-up" aria-hidden="true"></i> Top up SMS Via Mpesa</span>
                                    </button>
                                    <br>
                                    <button class="btn btn-animate btn-animate-side btn-primary block"
                                            data-target="#card_payment" data-toggle="modal">
                                        <span><i class="icon wb-arrow-up" aria-hidden="true"></i> Top up SMS Via Wallet</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- End Card -->
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-3 offset-lg-6 text-right">

                        </div>
                    </div>

                    <div class="page-invoice-table table-responsive">
                        <table class="table table-hover text-right dataTable table-striped w-full"
                               id="exampleTableTools2">
                            <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-left">Transaction ID</th>
                                <th>Transaction Type</th>
                                <th class="text-right">Amount</th>
                                <th class="text-right">Previous Balance</th>
                                <th class="text-right">Narration</th>
                                <th class="text-right">Date</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for b in log %}
                                <tr>
                                    <td class="text-center">
                                        {{ forloop.counter }}
                                    </td>
                                    <td class="text-left">
                                        {{ bill.trx_id }}
                                    </td>
                                    <td>
                                        {{ bill.transaction_type }}
                                    </td>
                                    <td>
                                        {{ bill.amount }}
                                    </td>
                                    <td>
                                        {{ bill.previous_balance }}
                                    </td>
                                    <td>
                                        {{ bill.narration }}
                                    </td>
                                    <td>
                                        {{ bill.created_at }}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade example-modal-lg" id="examplePositionCenter" aria-hidden="true"
                     aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-simple modal-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Top up Wallet</h4>
                            </div>
                            <div class="modal-body">
                                <h6>Wallet balance KSH. {{ cur_balance }}</h6>
                                <form id="hkpay" method="post" action="{% url 'stkpush-topup' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-control-label" for="amount">Amount*</label>
                                        <input type="text" class="form-control" id="amount" name="amount"
                                               required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="mobile">Mobile number*</label>
                                        <input type="text" class="form-control" id="mobile" name="mobile"
                                               required="required" placeholder="0700000000">
                                    </div>

                                    <button type="submit" class="btn btn-success">Top up</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->

                <!-- Modal -->
                <div class="modal fade example-modal-lg" id="examplePositionCenter3" aria-hidden="true"
                     aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-simple modal-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Mpesa Transaction code</h4>
                            </div>
                            <div class="modal-body">
                                <h6>A notification was sent to your phone to pay, enter transaction code </h6>

                                <form id="transF" action="{% url 'confirm-trans' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-control-label" for="trans">Transaction code*</label>
                                        <input type="text" class="form-control" id="trans" name="trans"
                                               required="required">
                                    </div>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Quit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
                <!-- Modal -->
                <div class="modal fade example-modal-lg" id="examplePositionCenter2" aria-hidden="true"
                     aria-labelledby="examplePositionCenter"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-simple modal-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Withdraw from wallet</h4>
                            </div>
                            <div class="modal-body">
                                <h6>Wallet balance KSH. {{ cur_balance }}</h6>
                                <form id="hkwith" method="post" action="{% url 'withdraw-wallet' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-control-label" for="amount">Amount*</label>
                                        <small>Your wallet balance is {{ cur_balance }}</small>
                                        <input type="number" min="0" max="{{ cur_balance }}" class="form-control"
                                               id="amount" name="amount"
                                               required="required"
                                               placeholder="Ksh. 10 is the least amount you can withdraw">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="amount">Mobile*</label>
                                        <input type="text" class="form-control" id="mobile" name="mobile"
                                               required="required" placeholder="0700000000">
                                    </div>

                                    <button type="submit" class="btn btn-success">Withdraw</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
                <!-- Modal -->
                <div class="modal fade example-modal-lg" id="transfer" aria-hidden="true"
                     aria-labelledby="examplePositionCenter"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-simple modal-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Wallet transfer</h4>
                            </div>
                            <div class="modal-body">
                                <h6>Wallet balance KSH. {{ cur_balance }}</h6>
                                <form id="walltrans" method="post" action="{% url 'wallet-transfer' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-control-label" for="amount">Amount*</label>
                                        <input type="number" min="0" max="{{ cur_balance }}" class="form-control"
                                               id="amount" name="amount"
                                               required="required" placeholder="Amount">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="wallet">Wallet ID*</label>
                                        <input type="number" class="form-control" id="wallet" name="wallet"
                                               required="required" placeholder="Wallet ID">
                                    </div>

                                    <button type="submit" class="btn btn-success">Transfer</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
                <!-- Modal -->
                <div class="modal fade example-modal-lg" id="Password" aria-hidden="true"
                     aria-labelledby="examplePositionCenter"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-simple modal-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title">Provide your password to access Wallet</h4>
                            </div>
                            <div class="modal-body">
                                <form id="passwrdForm" method="post" action="{% url 'hapo_wallet' %}">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-control-label" for="psswrd">Password*</label>
                                        <input type="password" class="form-control" id="psswrd" name="psswrd"
                                               required="required" placeholder="Password">
                                    </div>

                                    <button type="submit" class="btn btn-success">Submit</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
                <!-- Modal -->
                <div class="modal fade example-modal-lg" id="card_payment" aria-hidden="true"
                     aria-labelledby="examplePositionCenter" role="dialog" tabindex="-1">
                    <div class="modal-dialog modal-simple modal-center">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Top up via card</h4>
                            </div>
                            <div class="modal-body">
                                <form id="card-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="form-control-label" for="emailc">Email*</label>
                                        <input type="email" class="form-control" id="emailc" name="emailc"
                                               required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="namec">Name*</label>
                                        <input type="text" class="form-control" id="namec" name="namec"
                                               required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="phone_noc">Phone Number*</label>
                                        <input type="tel" class="form-control" id="phone_noc" name="phone_noc"
                                               required="required">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="amountc">Amount*</label>
                                        <input type="number" min="1" class="form-control" id="amountc" name="amountc"
                                               required="required">
                                    </div>

                                    <button type="submit" class="btn btn-success">Top up</button>
                                </form>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->
            </div>
            <!-- End Panel -->
        </div>
    </div>
    <!-- End Page -->

{% endblock %}
{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/bootstrap-sweetalert/sweetalert.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/bootstrap-sweetalert.js' %}"></script>
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net/jquery.dataTables.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-scroller/dataTables.scroller.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-rowgroup/dataTables.rowGroup.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-buttons/dataTables.buttons.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-buttons/buttons.html5.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-buttons/buttons.flash.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-buttons/buttons.print.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-buttons/buttons.colVis.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js' %}"></script>

    <script src="{% static 'authapp/global/js/Plugin/datatables.js' %}"></script>
    <script src="{% static 'authapp/assets/examples/js/tables/datatable.js' %}"></script>
    <script>
        var CardForm = $("#card-form");
        CardForm.submit(function (e) {
            e.preventDefault();
            FlutterwaveCheckout({
                //public_key: "FLWPUBK_TEST-14d251e0b448f6c8a22134084b798a20-X", //test
                public_key: "FLWPUBK-e96eebe004986246294db7041123a73b-X", //live
                tx_ref: "{{profile.hapokash}}",
                amount: $('#amountc').val(),
                currency: "KES",
                country: "KE",
                payment_options: "card",
                customer: {
                    email: $('#emailc').val(),
                    phone_number: $('#phone_noc').val(),
                    name: $('#namec').val(),
                },
                customizations: {
                    title: "HapoKash",
                    description: "Wallet Top Up",
                    logo: "https://portal.hapokash.app/assets/img/logo.png",
                },
            });
        })
    </script>
    <script>
        var loginForm = $("#hkpay");
        loginForm.submit(function (e) {
            e.preventDefault();
            var sub = $('#sub').val()
            $('#transF').append('<input type="input" name="uuid" placeholder="name" id="name" value="' + sub + '" hidden>');
            var thisForm = $(this);
            var endPoint = thisForm.attr("action") || window.location.href;
            var method = thisForm.attr("method");
            var formData = thisForm.serialize();

            console.log(endPoint);
            console.log(method);
            swal({
                title: "Please wait, Topping up!",
                showConfirmButton: false,
                allowOutsideClick: false
            });

            $.ajax({
                type: method,
                url: endPoint,
                data: formData,
                success: function (data) {
                    console.log(data)
                    if (data === "error") {
                        swal({
                            title: 'Error!!',
                            text: 'Fill all fields correctly!!',
                            type: "error",
                            showConfirmButton: true,
                        });
                    } else {
                        swal({
                            title: 'Mpesa Transaction!!',
                            text: 'An mpesa pop up will be sent to your phone, input correct pin to continue signup!!',
                            type: "info",
                            showConfirmButton: true,
                        });
                        $('#examplePositionCenter').modal('hide');
                        {#$('#examplePositionCenter3').modal('show');#}
                        window.reload();
                    }
                },
                error: function (er) {
                    console.log("error");
                    // console.log(er.responseText);
                    swal('Top up error!!', 'Something went wrong!!', 'error');
                }
            });

        });

        var transForm = $("#transF");
        transForm.submit(function (e) {
            e.preventDefault();
            var thisForm = $(this);
            var endPoint = thisForm.attr("action") || window.location.href;
            var method = thisForm.attr("method");
            var formData = thisForm.serialize();

            console.log(endPoint);
            console.log(method);
            swal({
                title: "Please wait!",
                showConfirmButton: false,
                allowOutsideClick: false
            });

            $.ajax({
                type: method,
                url: endPoint,
                data: formData,
                success: function (data) {
                    console.log(data)
                    if (data === "Not Found") {
                        swal('Does not exist!!', 'Try again, Transaction code given does NOT exist!!', 'error');

                    } else {
                        console.log(data)
                        swal({
                            title: 'Transaction Successful!!',
                            text: 'Top up Complete, Proceed to Wallet',
                            type: "success",
                            showConfirmButton: true,
                        });
                        $('#examplePositionCenter').modal('hide');
                    }
                },
                error: function (er) {
                    swal('Does not exist!!', 'Try again, Transaction code given does NOT exist!!', 'error');
                }
            });

        });

        var withdraw = $("#hkwith");
        withdraw.submit(function (e) {
            e.preventDefault();
            var thisForm = $(this);
            var endPoint = thisForm.attr("action") || window.location.href;
            var method = thisForm.attr("method");
            var formData = thisForm.serialize();

            console.log(endPoint);
            console.log(method);
            swal({
                title: "Please wait!",
                showConfirmButton: false,
                allowOutsideClick: false
            });

            $.ajax({
                type: method,
                url: endPoint,
                data: formData,
                success: function (data) {
                    console.log(data)
                    if (data === "success") {
                        swal({
                            title: 'Transaction Successful!!',
                            text: 'Withdrawal is being processed',
                            type: "success",
                            showConfirmButton: true,
                        });

                    } else {
                        console.log(data)
                        swal({
                            title: 'Something went wrong!!',
                            text: data,
                            type: "error",
                            showConfirmButton: true,
                        });
                    }
                },
                error: function (er) {
                    swal('Does not exist!!', 'Try again, Transaction code given does NOT exist!!', 'error');
                }
            });

        });
    </script>
    <script>
        var Trans = $("#walltrans");
        Trans.submit(function (e) {
            e.preventDefault();
            var thisForm = $(this);
            var endPoint = thisForm.attr("action") || window.location.href;
            var method = thisForm.attr("method");
            var formData = thisForm.serialize();

            console.log(endPoint);
            console.log(method);
            swal({
                title: "Please wait!",
                showConfirmButton: false,
                allowOutsideClick: false
            });

            $.ajax({
                type: method,
                url: endPoint,
                data: formData,
                success: function (data) {
                    console.log(data)
                    if (data === "success") {
                        swal({
                            title: 'Success',
                            text: 'Transfer successfull',
                            type: "info",
                            showConfirmButton: true,
                        });
                        $('#transfer').modal('hide');
                        window.reload();

                    } else {
                        swal({
                            title: 'Error!!',
                            text: data,
                            type: "error",
                            showConfirmButton: true,
                        });
                    }
                },
                error: function (er) {
                    console.log("error");
                    swal('Error!!', 'Something went wrong!!', 'error');
                }
            });

        });

        $(document).ready(function () {
            if ("{{ show }}" == "Yes") {
                $('#Password').modal('show');
            }
        });
        var Passwrd = $("#passwrdForm");
        Passwrd.submit(function (e) {
            e.preventDefault();
            var thisForm = $(this);
            var endPoint = thisForm.attr("action") || window.location.href;
            var method = thisForm.attr("method");
            var formData = thisForm.serialize();

            console.log(endPoint);
            console.log(method);
            swal({
                title: "Please wait!",
                showConfirmButton: false,
                allowOutsideClick: false
            });

            $.ajax({
                type: method,
                url: endPoint,
                data: formData,
                success: function (data) {
                    console.log(data)
                    if (data === "wrong") {
                        swal({
                            title: 'Error',
                            text: 'Wrong Password',
                            type: "error",
                            showConfirmButton: true,
                        });

                    } else {
                        document.open();
                        document.write(data);
                        document.close();
                        swal('Success!!', 'Success!!', 'success');
                        $('#Password').modal('hide');
                    }
                },
                error: function (er) {
                    console.log("error");
                    swal('Error!!', 'Something went wrong!!', 'error');
                }
            });

        });
    </script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>

{% endblock %}