{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}
    <title>Swap Tenant's Unit | MNEST</title>
{% endblock %}
{% block headscripts %}
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/pages/invoice.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
{% endblock %}
{% block page %}
    <!-- Page -->
    <div class="page">

        <div class="page-header">
            <h1 class="page-title">Swap Tenant's Unit</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'prop-list' %}">Properties</a></li>
                <li class="breadcrumb-item"><a href="{% url 'unit-list' u_uid=t.unit.property.uuid %}">Units</a></li>
                <li class="breadcrumb-item active">Swap Tenant's Unit</li>
            </ol>
            <div class="page-header-actions">
            </div>

        </div>

        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3>
                                {% if it.unit.property.company.logo %}
                                    <img class="mr-10" src="{{ t.unit.property.company.logo.url }}"
                                         alt="...">
                                {% endif %}
                            </h3>
                        </div>
                    </div>

                    <div class="page-invoice-table table-responsive">
                        <table class="table table-hover text-right">
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    Name
                                </td>
                                <td class="text-left">
                                    {{ t.profile.first_name }} {{ t.profile.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Property
                                </td>
                                <td class="text-left">
                                    {{ t.unit.property.property_name }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Current Unit
                                </td>
                                <td class="text-left">
                                    {{ t.unit.unit_name }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Current Rent
                                </td>
                                <td class="text-left">
                                    {{ t.unit.value }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <form method="post" action="{% url 'swap-tenant' u_uid=p_id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-control-label" for="acc_type">New Unit *</label>
                                <select data-plugin="selectpicker" data-size="5" data-live-search="true"
                                        title="Unit | Property | Rent | Size" id="unit"
                                        name="unit" required="required">
                                    {% for a in unit %}
                                        <option value="{{ a.uuid }}">{{ a.unit_name }} | {{ a.property.property_name }}
                                            | Kshs.{{ a.value }} |
                                            {% if a.other_specify %}{{ a.other_specify }} {% else %}
                                                {{ a.size }}{% endif %}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-animate btn-animate-side btn-primary">
                                <span><i class="icon wb-shopping-cart" aria-hidden="true"></i> Move to unit</span>
                            </button>

                        </form>
                    </div>

                    <div class="text-right clearfix">
                        <div class="float-right">

                        </div>
                    </div>

                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
    <!-- End Page -->
{% endblock %}
{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/masonry/masonry.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/masonry.js' %}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script>
        $('select').selectpicker();
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
    </body>

{% endblock %}
