{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}
    <title>Tenant | MNEST</title>
{% endblock %}
{% block headscripts %}
    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/pages/invoice.css' %}">

{% endblock %}
{% block page %}
    <!-- Page -->
    <div class="page">

        <div class="page-header">
            <h1 class="page-title">Tenant Info</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'prop-list' %}">Properties</a></li>
                <li class="breadcrumb-item"><a href="{% url 'unit-list' u_uid=t.unit.property.uuid %}">Units</a></li>
                <li class="breadcrumb-item"><a href="{% url 'view-tenant' u_uid=t.unit.property.uuid %}">Tenant</a></li>
                <li class="breadcrumb-item active">Tenant information</li>
            </ol>
            <div class="page-header-actions">
            </div>

        </div>

        <div class="page-content">
            <!-- Panel -->
            <div class="panel">
                <div class="panel-body container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <h3>
                                {% if it.unit.property.company.logo %}
                                    <img class="mr-10" src="{{ t.unit.property.company.logo.url }}"
                                         alt="...">
                                {% endif %}
                            </h3>
                            {#                            <address>#}
                            {#                                795 Folsom Ave, Suite 600#}
                            {#                                <br> San Francisco, CA, 94107#}
                            {#                                <br>#}
                            {#                                <abbr title="Mail">E-mail:</abbr>&nbsp;&nbsp;example@google.com#}
                            {#                                <br>#}
                            {#                                <abbr title="Phone">Phone:</abbr>&nbsp;&nbsp;(123) 456-7890#}
                            {#                                <br>#}
                            {#                                <abbr title="Fax">Fax:</abbr>&nbsp;&nbsp;800-692-7753#}
                            {#                            </address>#}
                        </div>
                        {#                        <div class="col-lg-3 offset-lg-6 text-right">#}
                        {#                            <h4>Invoice Info</h4>#}
                        {#                            <p>#}
                        {#                                <a class="font-size-20" href="javascript:void(0)">#5669626</a>#}
                        {#                                <br> To:#}
                        {#                                <br>#}
                        {#                                <span class="font-size-20">Machi</span>#}
                        {#                            </p>#}
                        {#                            <address>#}
                        {#                                795 Folsom Ave, Suite 600#}
                        {#                                <br> San Francisco, CA, 94107#}
                        {#                                <br>#}
                        {#                                <abbr title="Phone">P:</abbr>&nbsp;&nbsp;(123) 456-7890#}
                        {#                                <br>#}
                        {#                            </address>#}
                        {#                            <span>Invoice Date: January 20, 2017</span>#}
                        {#                            <br>#}
                        {#                            <span>Due Date: January 22, 2017</span>#}
                        {#                        </div>#}
                    </div>

                    <div class="page-invoice-table table-responsive">
                        <table class="table table-hover text-right">
                            <tbody>
                            <tr>
                                <td class="text-center">
                                    Name
                                </td>
                                <td class="text-left">
                                    {{ t.profile.first_name }} {{ t.profile.last_name }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Mobile
                                </td>
                                <td class="text-left">
                                    {{ t.profile.msisdn }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Secondary Mobile
                                </td>
                                <td class="text-left">
                                    {% if t.secondary_msisdn %}
                                        {{ t.secondary_msisdn }}
                                    {% else %}
                                        N/A
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Property
                                </td>
                                <td class="text-left">
                                    {{ t.unit.property.property_name }}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    Unit
                                </td>
                                <td class="text-left">
                                    {{ t.unit.unit_name }}
                                </td>

                            </tr>
                            <tr>
                                <td class="text-center">
                                    Registered on
                                </td>
                                <td class="text-left">
                                    {{ t.created_at }}
                                </td>

                            </tr>
                            <tr>
                                <td class="text-center">
                                    Started Occupancy at
                                </td>
                                <td class="text-left">
                                    {{ t.date_occupied }}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-right clearfix">
                        <div class="float-right">
                        </div>
                    </div>

                    <div class="text-right">
                        <a href="{% url 'swap-tenant' u_uid=t.unit.uuid %}" class="btn btn-animate btn-animate-side btn-primary">
                            <span><i class="icon wb-graph-up" aria-hidden="true"></i> Vacate tenant</span>
                        </a>
                        <a href="{% url 'swap-tenant' u_uid=t.unit.uuid %}" class="btn btn-animate btn-animate-side btn-primary">
                            <span><i class="icon wb-graph-up" aria-hidden="true"></i> Move to another Unit</span>
                        </a>
                        <a href="{% url 'bills-tenant' u_uid=t.uuid %}" class="btn btn-animate btn-animate-side btn-secondary">
                            <span><i class="icon wb-book" aria-hidden="true"></i> Bills</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Panel -->
        </div>
    </div>
    <!-- End Page -->
{% endblock %}
{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/masonry/masonry.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/masonry.js' %}"></script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
    </body>

{% endblock %}
