{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}

    <title>Units | MNEST Africa</title>
{% endblock %}
{% block headscripts %}
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/flag-icon-css/flag-icon.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/blueimp-file-upload/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/dropify/dropify.css' %}">

    <link rel="stylesheet" href="{% static 'authapp/assets/examples/css/advanced/masonry.css' %}">

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>


{% endblock %}
{% block page %}

    <!-- Page -->
    <div class="page">

        <div class="page-header">
            <h1 class="page-title">Units</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'prop-list' %}">Properties</a></li>
                <li class="breadcrumb-item active">Units</li>
            </ol>
            <div class="page-header-actions">
            </div>
        </div>

        <ul class="blocks blocks-100 blocks-xxl-4 blocks-lg-3 blocks-md-2" data-plugin="masonry">
            <li class="masonry-item">
                <div class="card card-shadow">
                    <div class="card-header">
                        <form method="post" action="{% url 'unit-file-upload' uid=p_id %}"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" name="logo" data-plugin="dropify"/>
                            <button type="submit" class="btn btn-outline btn-danger">Upload</button>
                        </form>
                    </div>
                    <div class="card-block">
                        <h3 class="card-title">Upload Via csv</h3>
                    </div>
                    <div class="card-block">
                        <div class="card-actions float-right">

                        </div>
                        <a href="{% url 'unit-template' %}" class="btn btn-outline btn-secondary">Download Template</a>
                    </div>
                </div>
            </li>
        </ul>
        {% if prop.building_type != "Bungalow" %}
            {% for i in p %}
                <div class="page-content blue-grey-500">
                    <h3 class="text-dark">Floor {{ i }}</h3>
                    <ul class="blocks blocks-100 blocks-xxl-4 blocks-lg-3 blocks-md-2" data-plugin="masonry">
                        {% for u in unit %}
                            {% if u.floor == i %}
                                <li class="masonry-item">
                                    <div class="card card-shadow">

                                        <div class="card-block">
                                            <h3 class="card-title">Name: {{ u.unit_name }}</h3>
                                            <span class="card-text type-link">
                                            <small>
                                            <p class="">{% if u.other_specify %}{{ u.other_specify }}{% else %}
                                                {{ u.size }}{% endif %}</p>
                                            <p class="text-dark">{{ u.unit_status }}</p>
                                            {#                                        <a href="javascript:void(0)">#}
                                            {#                                            <span>3</span> Comments</a>#}
                                            </small>
                                        </span>
                                            <p class="card-text">Value: Kshs. {{ u.value }}</p>
                                        </div>
                                        <div class="card-block">

                                            <a href="{% url 'unit-view' pid=u.uuid %}" class="btn btn-outline btn-primary card-link">View</a>
                                            <a href="{% url 'tenant-add' u_uid=u.uuid %}"
                                               class="btn btn-outline btn-dark card-link">Tenant</a>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if can_add %}
                            <li class="masonry-item">
                                <div class="card card-shadow">
                                    <div class="card-header cover">

                                    </div>
                                    <div class="card-block">
                                        <h3 class="card-title">Add Units</h3>
                                    </div>
                                    <div class="card-block">
                                        <div class="card-actions float-right">
                                            <a href="{% url 'unit-add' floor=i u_uid=p_id %}">
                                                <i class="icon wb-plus" aria-hidden="true"></i>
                                                <span></span>
                                            </a>
                                        </div>
                                        <a href="{% url 'unit-add' floor=i u_uid=p_id %}"
                                           class="btn btn-outline btn-primary">Add
                                            New</a>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
{% block footscripts %}
    <script src="{% static 'authapp/global/vendor/dropify/dropify.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/imagesloaded/imagesloaded.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/masonry/masonry.pkgd.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/masonry.js' %}"></script>
    <script src="{% static 'authapp/global/js/Plugin/dropify.js' %}"></script>
    <script src="{% static 'authapp/assets/examples/js/forms/uploads.js' %}"></script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
    </body>

{% endblock %}
