{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">

    <title>About | Mobikeja</title>

    <link rel="apple-touch-icon" href="{% static 'authapp/assets/images/mobikeja-png.png' %}">
    <link rel="shortcut icon" href="{% static 'authapp/assets/images/mobikeja-png.png' %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'authapp/global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/assets/css/site.min.css' %}">

    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/vendor/flag-icon-css/flag-icon.css' %}">


    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'authapp/global/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'authapp/global/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

    <!--[if lt IE 9]>
    <script src="{% static 'authapp/global/vendor/html5shiv/html5shiv.min.js' %}"></script>
    <![endif]-->

    <!--[if lt IE 10]>
    <script src="{% static 'authapp/global/vendor/media-match/media.match.min.js' %}"></script>
    <script src="{% static 'authapp/global/vendor/respond/respond.min.js' %}"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{% static 'authapp/global/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
        Breakpoints();
    </script>

</head>
<body class="animsition" style="padding: 0">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->


<link rel="stylesheet" href="../../assets/examples/css/pages/invoice.css">


<title>Lease Agreement | mobikeja Africa</title>


<!-- Page -->
<div class="page" style="margin-left: 0;margin-top: 0;">

    <div class="page-header">
        <h1 class="page-title">Vacate Notice</h1>
    </div>

    <div class="page-content">
        <!-- Panel -->
        <div class="panel">
            <div class="panel-body container-fluid">
                <div class="row">
                    <div class="col-lg-3">

                    </div>
                    <div class="col-lg-3 offset-lg-6 text-right">

                    </div>
                </div>

                <div class="page-invoice-table table-responsive">
                    <h3 style="text-align: center">Re: Notice of Intent to Vacate</h3>
                    <br>
                    <p style="font-size: 18px">{{ tenant.profile.first_name }} {{ tenant.profile.last_name }}</p>
                    <p>{{ notice.created_at }}</p>
                    <br>
                    <p>{{ landlord.first_name }} {{ tenant.last_name }}</p>
                    <p>Property: {{ notice.unit.property.property_name }}</p>
                    <br>
                    <p>Dear {{ landlord.first_name }},</p>
                    <p>This letter constitutes my written {{ notice.days_notice }} day notice that I will be moving
                        out of my
                        apartment on {{ notice.vacate_date }}, the end of my current lease.
                    </p>
                    <br>
                    <p>I am leaving because of {{ notice.reason }}</p>
                    <br>
                    <p>
                        Please advise me on when my security deposit of KES {{ notice.unit.security_deposit }} will
                        be returned
                        to me, as well as if you will be taking any money out for damages that fall outside of
                        normal wear and
                        tear.
                    </p>
                    <p>I can be reached at {{ tenant.profile.msisdn }} and after {{ notice.new_contacts }}.</p>
                    <br>
                    <p>Sincerely,</p>
                    <p>{{ tenant.profile.first_name }} {{ tenant.profile.last_name }}</p>
                    <p>Unit: {{ notice.unit.unit_name }}</p>
                </div>

            </div>

            <div class="text-right">

                <button type="button" class="btn btn-animate btn-animate-side btn-default btn-outline"
                        onclick="javascript:window.print();">
                    <span><i class="icon wb-print" aria-hidden="true"></i> Print</span>
                </button>
            </div>
        </div>
    </div>
    <!-- End Panel -->
</div>
<!-- End Page -->

<!-- Footer -->
<footer class="site-footer" style="margin-left: 0">
    <div class="site-footer-legal">© 2021 <a
            href=".">mobikeja Africa</a></div>

</footer>

<!-- Core  -->
<script src="{% static 'authapp/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
<script src="{% static 'authapp/global/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'authapp/global/vendor/popper-js/umd/popper.min.js' %}"></script>
<script src="{% static 'authapp/global/vendor/bootstrap/bootstrap.js' %}"></script>
<script src="{% static 'authapp/global/vendor/animsition/animsition.js' %}"></script>
<script src="{% static 'authapp/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'authapp/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
<script src="{% static 'authapp/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
<script src="{% static 'authapp/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
<!-- Plugins -->
<script src="{% static 'authapp/global/vendor/switchery/switchery.js' %}"></script>
<script src="{% static 'authapp/global/vendor/intro-js/intro.js' %}"></script>
<script src="{% static 'authapp/global/vendor/screenfull/screenfull.js' %}"></script>
{#<script src="{% static 'authapp/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>#}

<!-- Scripts -->
<script src="{% static 'authapp/global/js/Component.js' %}"></script>
<script src="{% static 'authapp/global/js/Plugin.js' %}"></script>
<script src="{% static 'authapp/global/js/Base.js' %}"></script>
<script src="{% static 'authapp/global/js/Config.js' %}"></script>

<script src="{% static 'authapp/assets/js/Section/Menubar.js' %}"></script>
<script src="{% static 'authapp/assets/js/Section/GridMenu.js' %}"></script>
<script src="{% static 'authapp/assets/js/Section/Sidebar.js' %}"></script>
<script src="{% static 'authapp/assets/js/Section/PageAside.js' %}"></script>
<script src="{% static 'authapp/assets/js/Plugin/menu.js' %}"></script>

<script src="{% static 'authapp/global/js/config/colors.js' %}"></script>
<script src="{% static 'authapp/assets/js/config/tour.js' %}"></script>
<script>Config.set('assets', '../../assets');</script>

<!-- Page -->
<script src="{% static 'authapp/assets/js/Site.js' %}"></script>
<script src="{% static 'authapp/global/js/Plugin/asscrollable.js' %}"></script>
{#<script src="{% static 'authapp/global/js/Plugin/slidepanel.js' %}"></script>#}
<script src="{% static 'authapp/global/js/Plugin/switchery.js' %}"></script>

<script>
    (function (document, window, $) {
        'use strict';

        var Site = window.Site;
        $(document).ready(function () {
            Site.run();
        });
    })(document, window, jQuery);
</script>
</body>
</html>